.login-container{
    width: 40%;
}

.login-container h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.login-container button{
    margin-top: 10px;
    width: 100%;
}